<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink=''>Home</a>
        </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink='/shipping'>Shipping Details</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink='/payment'>Payment Details</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink='/review'>Review Details</a>
    </li>
  </ul>
</nav>